@tailwind base;
@tailwind components;
@tailwind utilities;

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.cat__item img {
  max-height: 60vh;
  width: 100%;
}
